<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div ng-app="meliApp">
    
    <ul ng-controller="EnterController as enterController">
      <li ng-repeat="foo in enterController.foos">{{foo}}</li>
    </ul>

    <a href="/enter">Conectar</a>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script type="text/javascript">

    var app = angular.module('meliApp', []);

    app
      .controller('EnterController', ['$scope', function($scope){
        this.foos = ['Lorem', 'Ipsum', 'Dolor', 'Sit', 'Amet'];
      }]);

  </script>

</body>
</html>